.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    
}

hr {
    margin: 0px;
}

.nav-container > button {
    height: 25px;
    
}

.logo-icon {
    width: 60px;
    height: 40px;
    background-image: url('../assets/logotraveling.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-container>header {
    text-align: center;
}

.section-content-container {
    display: flex;
}

.section-autoslidebanner {
    height: 700px; 
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    background-color: antiquewhite;
    align-items: center;
}


.section-form {
    height: 400px; 
    width: 60%;
    margin-right: 24px;
    margin-left: 24px;
    background-color:lightgray; 
    padding-left: 24px; 
    padding-right: 24px;
    padding-top: 24px; 
    padding-bottom: 24px;
}

.name-input {
    height: 30px;
    width: 90%;
    border-radius: 5px;
}

.button {
    height: 35px;
    width: 90%;
    background-color:rgb(38, 38, 41);
    color: white;
    
}

.dropdown-selected {
    height: 30px;
    width: 90%;
}

h3 {
    color:black;
}

h5 {
    color: black;
}

@media only screen and (max-width: 810px){
    .header-container, 
    .section-content-container {
        flex-direction: column;    
    }
    .section-form {
        margin-top: 24px;
    }
}